@use '../../styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

.hero {
  &__section {
    background: url(../../images/hero11.png) no-repeat center;
    height: 900px;
    padding-top: 300px;
  } 

  &__section--2 {
    background: url(../../images/hero11.png) no-repeat center;
    height: 900px;
    padding-top: 300px;
  } 

  &__h1 {
    color: $white;
    font-size: 100px;
    font-family: 'Rozha One', serif;
    letter-spacing: 2px;
    margin-bottom: 50px;
  }

  &__text {
    color: $white;
    font-size: 40px;
    max-width: 700px;
    font-family: 'Rozha One', serif;
    line-height: 1.4;
  }
}